
        /* Reset CSS */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Fonts and General Styling */
        body {
            font-family: 'Kosugi Maru', sans-serif, 'Poppins', sans-serif;
            color: grey;
/*             
            background-color: black;
            background-image: url('./bg1.svg'); */
            background: #0f0c29;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #8a3e00, #000000, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #000000, #000000, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        .container {
            flex-wrap: wrap;
            margin: 2rem auto;
            padding: 0 2rem;
        }

        .header {
            padding: 2rem;
            margin: 1rem 0;
            text-align: center;
        }

        .header > .title {
            margin-bottom: 1rem;
        }

        /* Tribute Section */
        .tribute {
            flex-wrap: wrap;
            box-sizing: border-box;
            margin: auto;
            display: grid;
            grid-template-columns: 2fr 1fr;
            max-width: auto;
            margin: 0 auto;
            background: transparent;
            color: black;
            align-items: center;
            padding: 0 0 0 1rem;
        }

        .tribute .content-container {
            border: 3px solid darkgray;
            padding: 1rem;
            box-shadow: 5px 5px 10px darkgray;
            margin: auto;
        }

        .tribute blockquote {
            text-align: center;
            font-size: 3rem;
            background: #FFB76B;
            background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }


        .tribute img {
            max-width: 80%;
        }

        /* Biography Section */
        .bio {
            height: auto;
            width: auto;
            margin-top: 2rem;
            margin-inline: 8rem;
            padding: 0 0.5rem;
            max-width: auto;
            display: grid;
            text-align: justify;

            /** TEXT GRADIENT */ 
            color: #dec279;
            background-image: -webkit-linear-gradient(0deg,#dccbb4  18%, #edf0f7 60%, #666666 88%);
            background-clip: text;
            -webkit-background-clip: text;
            text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
        }

        .bio > h2 {
            margin-bottom: 1rem;
            font-size: 3rem;
            line-height: 1.2;
        }

        .bio > p {
            font-size: 1.2rem;
            line-height: 1.4;
            text-align: center;

        }

        .bio > hr {
            margin-top: 2rem;
        }

        /* Article Styling */
        .article1 {
            justify-content: left;
        }

        .article2 {
            justify-content: right;
        }

        .intro {
            align-items: center;
        }

      section {
        display: inline-block;
      }